@import '_mixins';
@import '_variables';

.detail {
  display: flex;
  align-items: center;
  position: relative;

  @include respond(phone) {
    flex-flow: column;
    align-items: center;
  }

  &__left {
    margin-left: 3rem;
    width: 40%;

    @include respond(phone) {
      margin-left: 0;
      width: 85%;
    }

  }

  &__right {
    margin-left: 10rem;

    @include respond(phone) {
      align-self: flex-start;
      margin-left: 4rem;
    }
  }

  &__info {
    display: flex;

    @include respond(phone) {
      flex-flow: column;
    }

    ul {
      margin: 0;
      list-style-type: none;
    }

    &--right {
      margin-left: 10rem;

      @include respond(phone) {
        margin-left: 0;
      }
    }
    &-text {
      display: inline;
      font-weight: 600;
    }

    &-borders {
      a {
        margin-top: 1rem;

        &:not(:first-child){
          margin-left: 1rem;
        }
      }
    }
  }

  &__borders {
    margin-top: 5rem;

    a {
      padding: .3rem 2.2rem;
      border-radius: 3px;
    }
  }
}

.link-btn {
  box-shadow: 0 0 0.3rem $color-light-grey;
  text-decoration: none;
  display: inline-block;
  padding: .5rem 2.2rem;
  color: $color-black;
  background-color: $color-white;
  border-radius: 5px;

  svg {
    margin-right: .6rem;
  }
}

body.dark {
  background-color: $color-very-dark-blue-bg;


  .detailPage {
    color: $color-white;
    background-color: $color-very-dark-blue-bg;

    a {
      color: $color-white;
      background-color: $color-dark-blue;
      box-shadow: 0 0 0.3rem $color-dark-blue-shade;

    }
  }
}
