@import '_mixins';
@import '_variables';

.mainContent {
  padding: 1.5rem;
  background-color: $color-very-light-grey;

  &__searchBar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include respond(phone) {
        flex-direction: column;
    }
  }
}

.countryCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-flow: column;
    align-items: center;
  }
}

// dark mode
body.dark {
  .mainContent {
    background-color: $color-very-dark-blue-bg;
  }
}
