@import '_variables';

.mainContent {
  padding: 1.5rem;
  background-color: $color-very-light-grey;

  &__searchBar {
    display: flex;
    justify-content: space-between;
  }
}

.countryCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// dark mode
body.dark {
  .mainContent {
    background-color: $color-very-dark-blue-bg;
  }
}
