@import '_mixins';
@import '_variables';

.selectFilter {
  margin-right: 1.5rem;

  @include respond(phone) {
    width: fit-content;
    margin-top: 2rem;
  }

  &__form {
    background-color: $color-white;
    border-radius: 4px;

    fieldset {
      border-color: $color-white;
    }
  }

  &__select {
    width: 10rem;

    > div > div{
      padding: 1rem 1rem;
      background-color: $color-white;
      box-shadow: 0 0 0.3rem $color-light-grey;
    }

    em {
      font-style: normal;
    }
  }
}

.selectFilter .selectFilter__menu {
  box-shadow: 0 0 0.3rem $color-light-grey;

}

body {
  --bg: #FFFFFF;
  --textColor: #000000;
}

body.dark {
  --bg: #2B3945;
  --textColor: #FFFFFF;

  .selectFilter {
    &__form {
      background-color: $color-dark-blue;

      fieldset {
        border-color: $color-dark-blue;
      }
    }
    &__select {
      color: $color-white;

      > div > div {
        background-color: $color-dark-blue;
        box-shadow: 0 0 0.3rem $color-dark-blue-shade;
      }

      em {
        color: $color-white;
      }
    }
  }

  .selectFilter .selectFilter__menu {

  }
}
